<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<display-name>RegistrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<display-name>ValidarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.ValidarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesion</servlet-name>
  	<display-name>CerrarSesion</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComprarViaje</servlet-name>
  	<display-name>ComprarViaje</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.ComprarViaje</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarSesion</servlet-name>
  	<url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComprarViaje</servlet-name>
  	<url-pattern>/ComprarViaje</url-pattern>
  </servlet-mapping>
</web-app>
